@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto:wght@100&display=swap");

* {

    margin: 0px;
    padding: 0px;
}

nav {

    background-color: purple;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
}

nav ul {

    list-style-type: none;

}

.gameContainer {


    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.container {

    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}

.box {
    border: 2px black solid;
    font-size: 9vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: violet;
}

.gameInfo {
    padding: 35px;
    font-size: 11px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.imgbox img {

    width: 0;
    transition: width 1s ease-in-out;

}

.bt-0 {
    border-top: 0px;

}

.bl-0 {
    border-left: 0px;
}

.br-0 {
    border-right: 0px;
}

.bb-0 {
    border-bottom: 0px;
}

#reset {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 50px;

    font-size: 15px;

    font-family: 'Baloo Bhaina 2',
        cursive;
    border-radius: 5px;





}

#reset:hover {

    background-color: rgb(191, 152, 191);
}

.info {

    font-size: 25px;
}